header {
    background-color: lightblue; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 20px 0;
    text-align: center; /* Выравнивание текста по левому краю */
    position: fixed; /* Фиксируем шапку */
    top: 0;
    width: 100%;
  }
  
  nav {
    display: 50; /* Выровняйте ссылки по горизонтали */
    justify-content: center;
    gap: 20px; /* Укажите расстояние между ссылками */
  }
  
  nav a {
    color: blue; /* Укажите цвет ссылок */
    text-decoration: none; 
    padding: 50px;
  }
  .hero-section {
    background-image: url("https://i.pinimg.com/564x/17/b4/71/17b471df203f41c1384fed21f273d288.jpg"); /* Добавьте ссылку на изображение */
    background-size: cover; /* Укажите размер фона */
    background-position: center; /* Позиционируйте изображение */
    height: 100vh; /* Укажите высоту секции */
    display: flex; /* Используйте Flexbox */
    justify-content: center; /* Выровняйте элементы по горизонтали */
    align-items: center; /* Выровняйте элементы по вертикали */
    text-align: center; /* Выровняйте текст */
    color: white; /* Укажите цвет текста */
  }