header {
    background-color: lightblue; 
    color: white;
    padding: 20px 0;
    text-align: center; 
    position: fixed; 
    top: 0;
    width: 100%;
  }
  
  nav {
    display: 50; /* Выровняйте ссылки по горизонтали */
    justify-content: center;
    gap: 20px; /* Укажите расстояние между ссылками */
  }
  
  nav a {
    color: blue; /* Укажите цвет ссылок */
    text-decoration: none; 
    padding: 50px;
  }
  .hero-section {
    background-image: url("https://i.pinimg.com/564x/17/b4/71/17b471df203f41c1384fed21f273d288.jpg"); /* Добавьте ссылку на изображение */
    background-size: cover; /* Укажите размер фона */
    background-position: center; /* Позиционируйте изображение */
    height: 100vh; /* Укажите высоту секции */
    display: flex; /* Используйте Flexbox */
    justify-content: center; /* Выровняйте элементы по горизонтали */
    align-items: center; /* Выровняйте элементы по вертикали */
    text-align: center; /* Выровняйте текст */
    color: white; /* Укажите цвет текста */
  }
  .about {
    padding: 40px 20px;
    display: flex; /* Используйте Flexbox */
    justify-content: space-between ; /* Выровняйте содержимое */
    gap: 20px; /* Укажите расстояние между элементами */
  }
  
  .about-text {
    flex: 1; /* Задайте, как текст будет занимать пространство */
    min-width: 250px;
  }
  
  .about img {
    flex: 1;
    max-width: 400px; /* Установите максимальную ширину изображения */
    border-radius: 10px; /* Добавьте скругленные углы */
  }
  .services {
    background-color: lightgoldenrodyellow; /* Цвет фона */
    padding: 40px 20px;
    text-align: center;
  }
  
  .cards {
    display: flex; /* Используйте Flexbox */
    justify-content: center; /* Выровняйте карточки */
    gap: 20px; /* Расстояние между карточками */
  }
  
  .card {
    background-color: white; /* Цвет фона карточки */
    padding: 20px;
    width: 250px; /* Укажите ширину карточки */
    border-radius: 10px; /* Скруглите углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Добавьте тень */
  }
  footer {
    background-color: lightskyblue; /* Укажите цвет фона */
    color: black; /* Цвет текста */
    text-align: center; /* Выравнивание текста */
    padding: 20px;
  }